LCS API - Sample - Stop or Start enviroment.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"StartStop","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","enum":["Start","Stop"],"x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Call_LCS_API":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://lcsapi.lcs.dynamics.com/environment/v1/@{variables('Value')}/project/@{variables('LCSProjectID')}/environment/@{variables('LCSEnvironmentID')}","headers":{"Content_Type":"application/json","Authorization":"Bearer @{body('Parse_JSON_Auth')?['access_token']}"}}},"LCS_PROJECT_ID":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"LCSProjectID","type":"string","value":"12345"}]}},"Parse_JSON_Auth":{"runAfter":{"HTTP_-_Auth_Token_-_no_MFA_account_!":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_-_Auth_Token_-_no_MFA_account_!')","schema":{"type":"object","properties":{"token_type":{"type":"string"},"scope":{"type":"string"},"expires_in":{"type":"string"},"ext_expires_in":{"type":"string"},"expires_on":{"type":"string"},"not_before":{"type":"string"},"resource":{"type":"string"},"access_token":{"type":"string"},"refresh_token":{"type":"string"}}}}},"HTTP_-_Auth_Token_-_no_MFA_account_!":{"runAfter":{"LCS_ENVIRONMENT_ID":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://login.microsoftonline.com/common/oauth2/token","headers":{"Content-Type":"application/x-www-form-urlencoded"},"body":"grant_type=password\n&username=your_lcs_email_account@test.com\n&password=your_lcs_password_account\n&client_id=AAD_ClientId\n&client_secret=ADD_ClientSecret\n&resource=https://lcsapi.lcs.dynamics.com"}},"LCS_ENVIRONMENT_ID":{"runAfter":{"LCS_PROJECT_ID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"LCSEnvironmentID","type":"string","value":"356"}]}},"Parse_JSON_Response":{"runAfter":{"Call_LCS_API":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Call_LCS_API')","schema":{"type":"object","properties":{"IsSuccess":{"type":"boolean"},"OperationActivityId":{"type":"string"},"ErrorMessage":{},"VersionEOL":{"type":"string"}}}}},"Initialize_variable":{"runAfter":{"Parse_JSON_Auth":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Value","type":"string","value":"@triggerBody()['text']"}]}},"Condition":{"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sendmail']['connectionId']"}},"method":"post","body":{"to":"martin.vyuga@scales-group.com;","subject":"LCS Project in: @{variables('LCSProjectID')} Environment: @{variables('LCSEnvironmentID')}","text":"<p>The flow has been @{triggerBody()['text']}&nbsp;</p>","ishtml":true},"path":"/v3/mail/send","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Parse_JSON_Response":["Succeeded","Failed","Skipped","TimedOut"]},"else":{"actions":{"Send_an_email_notification_(V3)_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sendmail']['connectionId']"}},"method":"post","body":{"to":"martin.vyuga@scales-group.com;","subject":"LCS Project in: @{variables('LCSProjectID')} Environment: @{variables('LCSEnvironmentID')}","text":"<p>The flow has been attempted @{triggerBody()['text']} &nbsp;but returned @{body('Parse_JSON_Response')?['ErrorMessage']}</p>","ishtml":true},"path":"/v3/mail/send","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@body('Parse_JSON_Response')?['IsSuccess']",true]},"type":"If"}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Medium"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}}]}